@import "modules/_global";
@import "modules/_variables";
@import "modules/_mixins";
@import "Compass/CSS3/border-radius";
@import "Compass/CSS3/opacity";
@import "partials/_manage-panels";
@import "partials/_navpanel";
@import "partials/_inputbutton";
@import "partials/_input-form-fields";
@import "partials/_modals";
@mixin step-panel($width:($contentWidth /2) - 55){
	@include border-radius($borderRadius);
	padding: 8px 25px;
	width:$width;
	background-color: white;
}
#manage-container{
	@include default-contents;
	margin-top:10px;
}
#edit-table{
	width:100%;
}
#manage-list-panel{
	@include step-panel;
	float: left;
	height:$minheight;
}
#manage-item-panel{
	@include step-panel;
	float: right;
	min-height:$minheight;
}
#variance-list{
	height:$minheight - 45;
	padding-bottom: 10px;
}
.variance-item{
    display: block;
    margin: 5px 0;
    padding: 8px 12px;
	background-color:rgba($orange,0.15);
    border: 1px solid $orange;
    color: $defaultColor;
    text-decoration: none;
    font-weight: bold;
	@include border-radius($borderRadius);
    line-height: 1.5em;
	height:1.5em;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
}
.item-action-container{
	display:none;
}
.hover .item-action-container{
	display: inherit;
	float:right;
}
.item-action{
	@include border-radius($borderRadius);
	background-color:$orange;
	padding-right:4px;
	padding-left:4px;
	float:right;
	color:white;
	margin-left:10px;
}
.item-action:hover{
	cursor:pointer;
	color:white;
}
.modal-step{
	width:100%;
	height:$stepHeight;
}
.submit-button{
	@include input-button;
	float:right;
	margin-left:10px;
}
.submit-button:hover{
	@include input-button(darken($orange,5%));
	cursor:pointer;
}
.ui-icon{
	float:left;
	cursor: pointer;
}
.step-submit-panel{
	@include step-panel($contentWidth - 50);
	float: right;
	margin-top: 10px;
}
