@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
    </section>
}
<table id="table-data">
    <thead>
        <tr>
            <td>RowNo</td>
            <td>CarGroupBill</td>
            <td>StartDate</td>
            <td>EndDate</td>
            <td>CostCode</td>
            <td>Money</td>
            <td>Units</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>A</td>
            <td>2014/01/03</td>
            <td>2014/01/05</td>
            <td>010010000</td>
            <td>123</td>
            <td>123</td>
        </tr>
        <tr>
            <td>2</td>
            <td>B</td>
            <td>2014/01/07</td>
            <td>2014/01/09</td>
            <td>010010000</td>
            <td>412</td>
            <td>312</td>
        </tr>
        <tr>
            <td>2</td>
            <td>B</td>
            <td>2014/01/11</td>
            <td>2014/01/15</td>
            <td>010010000</td>
            <td>42</td>
            <td>32</td>
        </tr>
    </tbody>
</table>
