/* line 1, ../../sass/partials/_navpanel.scss */
nav.nav-panels {
  border-style: none;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  overflow: hidden;
}

/* line 11, ../../sass/partials/_modals.scss */
.modal-open {
  overflow: hidden;
}

/* line 16, ../../sass/partials/_modals.scss */
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}
/* line 28, ../../sass/partials/_modals.scss */
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
/* line 32, ../../sass/partials/_modals.scss */
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 36, ../../sass/partials/_modals.scss */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  z-index: 1050;
}

/* line 44, ../../sass/partials/_modals.scss */
.modal-content {
  position: relative;
  background-color: white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}

/* line 57, ../../sass/partials/_modals.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: black;
}
/* line 66, ../../sass/partials/_modals.scss */
.modal-backdrop.fade {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 67, ../../sass/partials/_modals.scss */
.modal-backdrop.in {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 72, ../../sass/partials/_modals.scss */
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857px;
}

/* line 78, ../../sass/partials/_modals.scss */
.modal-header .close {
  margin-top: -2px;
}

/* line 83, ../../sass/partials/_modals.scss */
.modal-title {
  margin: 0;
  line-height: 1.42857;
}

/* line 90, ../../sass/partials/_modals.scss */
.modal-body {
  position: relative;
  padding: 20px;
}

/* line 96, ../../sass/partials/_modals.scss */
.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
/* line 21, ../../sass/modules/_mixins.scss */
.modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}
/* line 25, ../../sass/modules/_mixins.scss */
.modal-footer:after {
  clear: both;
}
/* line 104, ../../sass/partials/_modals.scss */
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
/* line 109, ../../sass/partials/_modals.scss */
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
/* line 113, ../../sass/partials/_modals.scss */
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  /* line 121, ../../sass/partials/_modals.scss */
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  /* line 125, ../../sass/partials/_modals.scss */
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
/* line 9, ../../sass/partials/_buttons.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 22, ../../sass/partials/_buttons.scss */
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 27, ../../sass/partials/_buttons.scss */
.btn:hover, .btn:focus {
  color: #333333;
  text-decoration: none;
}
/* line 33, ../../sass/partials/_buttons.scss */
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 41, ../../sass/partials/_buttons.scss */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 53, ../../sass/partials/_buttons.scss */
.btn-default {
  color: #333333;
  background-color: white;
  border-color: #cccccc;
}
/* line 451, ../../sass/modules/_mixins.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
/* line 456, ../../sass/modules/_mixins.scss */
.open .btn-default.dropdown-toggle {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
/* line 462, ../../sass/modules/_mixins.scss */
.btn-default:active, .btn-default.active {
  background-image: none;
}
/* line 465, ../../sass/modules/_mixins.scss */
.open .btn-default.dropdown-toggle {
  background-image: none;
}
/* line 475, ../../sass/modules/_mixins.scss */
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: #cccccc;
}
/* line 481, ../../sass/modules/_mixins.scss */
.btn-default .badge {
  color: white;
  background-color: #fff;
}

/* line 56, ../../sass/partials/_buttons.scss */
.btn-primary {
  color: white;
  background-color: #428bca;
  border-color: #357ebd;
}
/* line 451, ../../sass/modules/_mixins.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: white;
  background-color: #3276b1;
  border-color: #285e8e;
}
/* line 456, ../../sass/modules/_mixins.scss */
.open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #3276b1;
  border-color: #285e8e;
}
/* line 462, ../../sass/modules/_mixins.scss */
.btn-primary:active, .btn-primary.active {
  background-image: none;
}
/* line 465, ../../sass/modules/_mixins.scss */
.open .btn-primary.dropdown-toggle {
  background-image: none;
}
/* line 475, ../../sass/modules/_mixins.scss */
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
/* line 481, ../../sass/modules/_mixins.scss */
.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}

/* line 60, ../../sass/partials/_buttons.scss */
.btn-warning {
  color: white;
  background-color: #f0ad4e;
  border-color: #eea236;
}
/* line 451, ../../sass/modules/_mixins.scss */
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
  color: white;
  background-color: #ed9c28;
  border-color: #d58512;
}
/* line 456, ../../sass/modules/_mixins.scss */
.open .btn-warning.dropdown-toggle {
  color: white;
  background-color: #ed9c28;
  border-color: #d58512;
}
/* line 462, ../../sass/modules/_mixins.scss */
.btn-warning:active, .btn-warning.active {
  background-image: none;
}
/* line 465, ../../sass/modules/_mixins.scss */
.open .btn-warning.dropdown-toggle {
  background-image: none;
}
/* line 475, ../../sass/modules/_mixins.scss */
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
/* line 481, ../../sass/modules/_mixins.scss */
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}

/* line 64, ../../sass/partials/_buttons.scss */
.btn-danger {
  color: white;
  background-color: #d9534f;
  border-color: #d43f3a;
}
/* line 451, ../../sass/modules/_mixins.scss */
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  color: white;
  background-color: #d2322d;
  border-color: #ac2925;
}
/* line 456, ../../sass/modules/_mixins.scss */
.open .btn-danger.dropdown-toggle {
  color: white;
  background-color: #d2322d;
  border-color: #ac2925;
}
/* line 462, ../../sass/modules/_mixins.scss */
.btn-danger:active, .btn-danger.active {
  background-image: none;
}
/* line 465, ../../sass/modules/_mixins.scss */
.open .btn-danger.dropdown-toggle {
  background-image: none;
}
/* line 475, ../../sass/modules/_mixins.scss */
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
/* line 481, ../../sass/modules/_mixins.scss */
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}

/* line 68, ../../sass/partials/_buttons.scss */
.btn-success {
  color: white;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
/* line 451, ../../sass/modules/_mixins.scss */
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  color: white;
  background-color: #47a447;
  border-color: #398439;
}
/* line 456, ../../sass/modules/_mixins.scss */
.open .btn-success.dropdown-toggle {
  color: white;
  background-color: #47a447;
  border-color: #398439;
}
/* line 462, ../../sass/modules/_mixins.scss */
.btn-success:active, .btn-success.active {
  background-image: none;
}
/* line 465, ../../sass/modules/_mixins.scss */
.open .btn-success.dropdown-toggle {
  background-image: none;
}
/* line 475, ../../sass/modules/_mixins.scss */
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
/* line 481, ../../sass/modules/_mixins.scss */
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

/* line 72, ../../sass/partials/_buttons.scss */
.btn-info {
  color: white;
  background-color: #5bc0de;
  border-color: #46b8da;
}
/* line 451, ../../sass/modules/_mixins.scss */
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
  color: white;
  background-color: #39b3d7;
  border-color: #269abc;
}
/* line 456, ../../sass/modules/_mixins.scss */
.open .btn-info.dropdown-toggle {
  color: white;
  background-color: #39b3d7;
  border-color: #269abc;
}
/* line 462, ../../sass/modules/_mixins.scss */
.btn-info:active, .btn-info.active {
  background-image: none;
}
/* line 465, ../../sass/modules/_mixins.scss */
.open .btn-info.dropdown-toggle {
  background-image: none;
}
/* line 475, ../../sass/modules/_mixins.scss */
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
/* line 481, ../../sass/modules/_mixins.scss */
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

/* line 81, ../../sass/partials/_buttons.scss */
.btn-link {
  color: #428bca;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
/* line 90, ../../sass/partials/_buttons.scss */
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 97, ../../sass/partials/_buttons.scss */
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}
/* line 101, ../../sass/partials/_buttons.scss */
.btn-link:hover, .btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
/* line 109, ../../sass/partials/_buttons.scss */
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}

/* line 120, ../../sass/partials/_buttons.scss */
.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

/* line 124, ../../sass/partials/_buttons.scss */
.btn-sm, .btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 128, ../../sass/partials/_buttons.scss */
.btn-xs, .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 136, ../../sass/partials/_buttons.scss */
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* line 144, ../../sass/partials/_buttons.scss */
.btn-block + .btn-block {
  margin-top: 5px;
}

/* line 152, ../../sass/partials/_buttons.scss */
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

/* line 1, ../../sass/partials/_inputbutton.scss */
.input-tab-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(85, 55, 20, 0.1);
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(85, 55, 20, 0.5);
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin-right: 10px;
  float: left;
  white-space: nowrap;
  height: 24px;
  line-height: 24px;
}

/* line 10, ../../sass/partials/_inputbutton.scss */
.input-tab-button.active,
.input-tab-button:hover {
  /* fallback */
  background-color: #b65b0c;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6730f), to(#b65b0c));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #e6730f, #b65b0c);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #e6730f, #b65b0c);
  /* IE 10 */
  background: -ms-linear-gradient(top, #e6730f, #b65b0c);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #e6730f, #b65b0c);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  border-style: none;
  border-width: 0px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
}

/* line 7, ../../sass/partials/_button-groups.scss */
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* line 11, ../../sass/partials/_button-groups.scss */
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
/* line 18, ../../sass/partials/_button-groups.scss */
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}
/* line 21, ../../sass/partials/_button-groups.scss */
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus {
  outline: none;
}

/* line 33, ../../sass/partials/_button-groups.scss */
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

/* line 21, ../../sass/modules/_mixins.scss */
.btn-toolbar:before, .btn-toolbar:after {
  content: " ";
  display: table;
}
/* line 25, ../../sass/modules/_mixins.scss */
.btn-toolbar:after {
  clear: both;
}
/* line 42, ../../sass/partials/_button-groups.scss */
.btn-toolbar .btn-group {
  float: left;
}
/* line 49, ../../sass/partials/_button-groups.scss */
.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn + .btn-group,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn-group + .btn-group {
  margin-left: 5px;
}

/* line 55, ../../sass/partials/_button-groups.scss */
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

/* line 60, ../../sass/partials/_button-groups.scss */
.btn-group > .btn:first-child {
  margin-left: 0;
}
/* line 62, ../../sass/partials/_button-groups.scss */
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 68, ../../sass/partials/_button-groups.scss */
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 73, ../../sass/partials/_button-groups.scss */
.btn-group > .btn-group {
  float: left;
}

/* line 76, ../../sass/partials/_button-groups.scss */
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

/* line 81, ../../sass/partials/_button-groups.scss */
.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 85, ../../sass/partials/_button-groups.scss */
.btn-group > .btn-group:last-child > .btn:first-child {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 91, ../../sass/partials/_button-groups.scss */
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

/* line 109, ../../sass/partials/_button-groups.scss */
.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}

/* line 113, ../../sass/partials/_button-groups.scss */
.btn-group > .btn-lg + .dropdown-toggle, .btn-group-lg.btn-group > .btn + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}

/* line 120, ../../sass/partials/_button-groups.scss */
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 124, ../../sass/partials/_button-groups.scss */
.btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 131, ../../sass/partials/_button-groups.scss */
.btn .caret {
  margin-left: 0;
}

/* line 135, ../../sass/partials/_button-groups.scss */
.btn-lg .caret, .btn-group-lg > .btn .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}

/* line 140, ../../sass/partials/_button-groups.scss */
.dropup .btn-lg .caret, .dropup .btn-group-lg > .btn .caret {
  border-width: 0 5px 5px;
}

/* line 151, ../../sass/partials/_button-groups.scss */
.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
/* line 21, ../../sass/modules/_mixins.scss */
.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
  content: " ";
  display: table;
}
/* line 25, ../../sass/modules/_mixins.scss */
.btn-group-vertical > .btn-group:after {
  clear: both;
}
/* line 161, ../../sass/partials/_button-groups.scss */
.btn-group-vertical > .btn-group > .btn {
  float: none;
}
/* line 169, ../../sass/partials/_button-groups.scss */
.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}

/* line 176, ../../sass/partials/_button-groups.scss */
.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
/* line 179, ../../sass/partials/_button-groups.scss */
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 183, ../../sass/partials/_button-groups.scss */
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

/* line 188, ../../sass/partials/_button-groups.scss */
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

/* line 193, ../../sass/partials/_button-groups.scss */
.btn-group-vertical > .btn-group:first-child > .btn:last-child,
.btn-group-vertical > .btn-group:first-child > .dropdown-toggle {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 197, ../../sass/partials/_button-groups.scss */
.btn-group-vertical > .btn-group:last-child > .btn:first-child {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

/* line 206, ../../sass/partials/_button-groups.scss */
.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
/* line 212, ../../sass/partials/_button-groups.scss */
.btn-group-justified > .btn,
.btn-group-justified > .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}
/* line 217, ../../sass/partials/_button-groups.scss */
.btn-group-justified > .btn-group .btn {
  width: 100%;
}

/* line 225, ../../sass/partials/_button-groups.scss */
[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
  display: none;
}

/* line 7, ../../sass/partials/_dropdowns.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* line 19, ../../sass/partials/_dropdowns.scss */
.dropdown {
  position: relative;
}

/* line 24, ../../sass/partials/_dropdowns.scss */
.dropdown-toggle:focus {
  outline: 0;
}

/* line 29, ../../sass/partials/_dropdowns.scss */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: white;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
/* line 49, ../../sass/partials/_dropdowns.scss */
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
/* line 55, ../../sass/partials/_dropdowns.scss */
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
/* line 60, ../../sass/partials/_dropdowns.scss */
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333333;
  white-space: nowrap;
}

/* line 74, ../../sass/partials/_dropdowns.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: whitesmoke;
}

/* line 85, ../../sass/partials/_dropdowns.scss */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

/* line 100, ../../sass/partials/_dropdowns.scss */
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #999999;
}

/* line 107, ../../sass/partials/_dropdowns.scss */
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

/* line 119, ../../sass/partials/_dropdowns.scss */
.open > .dropdown-menu {
  display: block;
}
/* line 124, ../../sass/partials/_dropdowns.scss */
.open > a {
  outline: 0;
}

/* line 130, ../../sass/partials/_dropdowns.scss */
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857;
  color: #999999;
}

/* line 139, ../../sass/partials/_dropdowns.scss */
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}

/* line 149, ../../sass/partials/_dropdowns.scss */
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

/* line 162, ../../sass/partials/_dropdowns.scss */
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}
/* line 168, ../../sass/partials/_dropdowns.scss */
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

@media (min-width: 768px) {
  /* line 182, ../../sass/partials/_dropdowns.scss */
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}
/* line 1, ../../sass/partials/_input-form-fields.scss */
.step-input {
  float: right;
  width: 250px;
}

/* line 5, ../../sass/partials/_input-form-fields.scss */
input.step-input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  border: #bcbcba solid 1px;
  text-align: right;
  padding-right: 10px;
  width: 240px;
}

/* line 13, ../../sass/partials/_input-form-fields.scss */
textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: #bcbcba solid 1px;
  width: 454px;
  height: 48px;
  font-family: "Open Sans", sans-serif;
  color: #553714;
  font-size: 14px;
  line-height: 18px;
}

/* line 20, ../../sass/partials/_input-form-fields.scss */
div.ng-invalid, input.ng-invalid {
  border: 1px solid #CD0A0A;
  background-color: #FEF1EC;
  color: #CD0A0A;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 20, ../../sass/costcentre.scss */
#manage-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* line 24, ../../sass/costcentre.scss */
#manage-list-panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 25px;
  width: 445px;
  background-color: white;
  float: left;
  height: 382px;
}

/* line 29, ../../sass/costcentre.scss */
#manage-item-panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 25px;
  width: 445px;
  background-color: white;
  float: right;
  min-height: 382px;
}

/* line 34, ../../sass/costcentre.scss */
div.pick-a-color-markup {
  width: 250px;
  float: right;
}

/* line 38, ../../sass/costcentre.scss */
.select2-choices {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 41, ../../sass/costcentre.scss */
.centre-name {
  cursor: pointer;
}

/* line 44, ../../sass/costcentre.scss */
.step-submit-panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 25px;
  width: 950px;
  background-color: white;
  float: right;
  margin-top: 10px;
}

/* line 49, ../../sass/costcentre.scss */
.submit-button {
  /* fallback */
  background-color: #b65b0c;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6730f), to(#b65b0c));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #e6730f, #b65b0c);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #e6730f, #b65b0c);
  /* IE 10 */
  background: -ms-linear-gradient(top, #e6730f, #b65b0c);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #e6730f, #b65b0c);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  border-style: none;
  border-width: 0px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 25px;
  padding: 5px 22px 5px 22px;
  position: relative;
  float: right;
  margin-left: 10px;
}
/* line 3, ../../sass/modules/_arrows.scss */
.submit-button:after {
  border-left: 5px solid white;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  position: absolute;
  content: " ";
  bottom: 50%;
  margin-bottom: -5px;
  right: 10px;
}

/* line 54, ../../sass/costcentre.scss */
.submit-button:hover {
  /* fallback */
  background-color: #9e4f0a;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ce670d), to(#9e4f0a));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ce670d, #9e4f0a);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ce670d, #9e4f0a);
  /* IE 10 */
  background: -ms-linear-gradient(top, #ce670d, #9e4f0a);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ce670d, #9e4f0a);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  border-style: none;
  border-width: 0px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 25px;
  padding: 5px 22px 5px 22px;
  position: relative;
  cursor: pointer;
}
/* line 3, ../../sass/modules/_arrows.scss */
.submit-button:hover:after {
  border-left: 5px solid white;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  position: absolute;
  content: " ";
  bottom: 50%;
  margin-bottom: -5px;
  right: 10px;
}

/* line 58, ../../sass/costcentre.scss */
div.pick-a-color-markup .color-menu li {
  margin-top: 5px;
}

/* line 61, ../../sass/costcentre.scss */
.nestedSortable-list {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* line 68, ../../sass/costcentre.scss */
.nestedSortable-sublist {
  padding-left: 30px;
}

/* line 71, ../../sass/costcentre.scss */
.nestedSortable-item, .nestedSortable-placeholder {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  min-height: 20px;
  line-height: 20px;
}

/* line 79, ../../sass/costcentre.scss */
.nestedSortable-handle {
  display: block;
  margin: 5px 0;
  padding: 8px 12px;
  background-color: rgba(230, 115, 15, 0.15);
  border: 1px solid #e6730f;
  color: #553714;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  line-height: 1.5em;
  height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

/* line 95, ../../sass/costcentre.scss */
.nestedSortable-handle:hover {
  color: #553714;
  background-color: rgba(230, 115, 15, 0.25);
  border-color: #e6730f;
}

/* line 100, ../../sass/costcentre.scss */
.nestedSortable-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background-color: rgba(230, 115, 15, 0.15);
  border: 2px dashed #e6730f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 108, ../../sass/costcentre.scss */
.nestedSortable-drag {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  opacity: .8;
  cursor: grabbing;
}

/* line 115, ../../sass/costcentre.scss */
#edit-table {
  width: 100%;
}

/* line 123, ../../sass/costcentre.scss */
a.collapsable-node,
a.close-node,
a.add-child,
a.collapsable-node:hover,
a.close-node:hover,
a.add-child:hover {
  cursor: pointer;
}

/* line 126, ../../sass/costcentre.scss */
.item-action {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #e6730f;
  padding-right: 4px;
  padding-left: 4px;
  float: right;
  color: white;
  margin-left: 10px;
}

/* line 135, ../../sass/costcentre.scss */
.item-action:hover {
  cursor: pointer;
  color: white;
}
