/* line 120, ../../sass/modules/_global.scss */
#dashboard-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 124, ../../sass/modules/_global.scss */
#dashboard-items li {
  float: left;
}

/* line 1, ../../sass/partials/_navpanel.scss */
nav.nav-panels {
  border-style: none;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  overflow: hidden;
}

/* line 1, ../../sass/partials/_period.scss */
.date-box {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: url("../Images/icons.png");
  font-family: "Open Sans", sans-serif;
  color: #553714;
  font-size: 14px;
  line-height: 18px;
  background-position: 80px -407px;
  background-repeat: no-repeat;
  background-color: white;
  height: 20px;
  border: #bcbcba solid 1px;
  padding-left: 10px;
  width: 120px;
  cursor: pointer;
}

/* line 11, ../../sass/partials/_modals.scss */
.modal-open {
  overflow: hidden;
}

/* line 16, ../../sass/partials/_modals.scss */
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}
/* line 28, ../../sass/partials/_modals.scss */
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
/* line 32, ../../sass/partials/_modals.scss */
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 36, ../../sass/partials/_modals.scss */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  z-index: 1050;
}

/* line 44, ../../sass/partials/_modals.scss */
.modal-content {
  position: relative;
  background-color: white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}

/* line 57, ../../sass/partials/_modals.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: black;
}
/* line 66, ../../sass/partials/_modals.scss */
.modal-backdrop.fade {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 67, ../../sass/partials/_modals.scss */
.modal-backdrop.in {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 72, ../../sass/partials/_modals.scss */
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857px;
}

/* line 78, ../../sass/partials/_modals.scss */
.modal-header .close {
  margin-top: -2px;
}

/* line 83, ../../sass/partials/_modals.scss */
.modal-title {
  margin: 0;
  line-height: 1.42857;
}

/* line 90, ../../sass/partials/_modals.scss */
.modal-body {
  position: relative;
  padding: 20px;
}

/* line 96, ../../sass/partials/_modals.scss */
.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
/* line 21, ../../sass/modules/_mixins.scss */
.modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}
/* line 25, ../../sass/modules/_mixins.scss */
.modal-footer:after {
  clear: both;
}
/* line 104, ../../sass/partials/_modals.scss */
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
/* line 109, ../../sass/partials/_modals.scss */
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
/* line 113, ../../sass/partials/_modals.scss */
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  /* line 121, ../../sass/partials/_modals.scss */
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  /* line 125, ../../sass/partials/_modals.scss */
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
/* line 1, ../../sass/partials/_inputbutton.scss */
.input-tab-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(85, 55, 20, 0.1);
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(85, 55, 20, 0.5);
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin-right: 10px;
  float: left;
  white-space: nowrap;
  height: 24px;
  line-height: 24px;
}

/* line 10, ../../sass/partials/_inputbutton.scss */
.input-tab-button.active,
.input-tab-button:hover {
  /* fallback */
  background-color: #b65b0c;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6730f), to(#b65b0c));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #e6730f, #b65b0c);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #e6730f, #b65b0c);
  /* IE 10 */
  background: -ms-linear-gradient(top, #e6730f, #b65b0c);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #e6730f, #b65b0c);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  border-style: none;
  border-width: 0px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
}

/* line 1, ../../sass/partials/_input-form-fields.scss */
.step-input {
  float: right;
  width: 250px;
}

/* line 5, ../../sass/partials/_input-form-fields.scss */
input.step-input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  border: #bcbcba solid 1px;
  text-align: right;
  padding-right: 10px;
  width: 240px;
}

/* line 13, ../../sass/partials/_input-form-fields.scss */
textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: #bcbcba solid 1px;
  width: 454px;
  height: 48px;
  font-family: "Open Sans", sans-serif;
  color: #553714;
  font-size: 14px;
  line-height: 18px;
}

/* line 20, ../../sass/partials/_input-form-fields.scss */
div.ng-invalid, input.ng-invalid {
  border: 1px solid #CD0A0A;
  background-color: #FEF1EC;
  color: #CD0A0A;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 32, ../../sass/partials/_icons.scss */
.overview-icon {
  height: 41px;
  width: 43px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../Images/icons.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* line 35, ../../sass/partials/_icons.scss */
.water-icon {
  height: 41px;
  width: 43px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../Images/icons.png");
  background-position: 0 -51px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* line 38, ../../sass/partials/_icons.scss */
.electricity-icon {
  height: 41px;
  width: 43px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../Images/icons.png");
  background-position: 0 -102px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* line 41, ../../sass/partials/_icons.scss */
.paper-icon {
  height: 41px;
  width: 43px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../Images/icons.png");
  background-position: 0 -153px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* line 44, ../../sass/partials/_icons.scss */
.waste-icon {
  height: 41px;
  width: 43px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../Images/icons.png");
  background-position: 0 -204px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* line 47, ../../sass/partials/_icons.scss */
.travel-icon {
  height: 41px;
  width: 43px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../Images/icons.png");
  background-position: 0 -306px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* line 50, ../../sass/partials/_icons.scss */
.fleet-icon {
  height: 41px;
  width: 43px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../Images/icons.png");
  background-position: 0 -357px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* line 53, ../../sass/partials/_icons.scss */
.courier-icon {
  height: 41px;
  width: 43px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../Images/icons.png");
  background-position: 0 -255px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* line 15, ../../sass/input.scss */
.carhire-icon {
  height: 41px;
  width: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../Images/icons.png");
  background-position: 0 -790px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* line 18, ../../sass/input.scss */
.hotelnights-icon {
  height: 41px;
  width: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../Images/icons.png");
  background-position: 0 -685px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* line 21, ../../sass/input.scss */
.plane-icon {
  height: 41px;
  width: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../Images/icons.png");
  background-position: 0 -744px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* line 24, ../../sass/input.scss */
.route-input {
  width: 100px;
}

/* line 27, ../../sass/input.scss */
.route-container {
  float: right;
}

/* line 30, ../../sass/input.scss */
#dashboard-items {
  color: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* line 5, ../../sass/partials/_icons.scss */
#dashboard-items li {
  height: 100%;
  padding-left: 26.05556px;
  padding-right: 26.05556px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 10, ../../sass/partials/_icons.scss */
#dashboard-items li div {
  text-align: center;
}
/* line 13, ../../sass/partials/_icons.scss */
#dashboard-items li span {
  padding-top: 10px;
}
/* line 17, ../../sass/partials/_icons.scss */
#dashboard-items li.hover, #dashboard-items li.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  cursor: pointer;
}

/* line 33, ../../sass/input.scss */
#consumption-type {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #553714;
  height: 113px;
  margin-top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 40, ../../sass/input.scss */
#consumption-label {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding: 8px 25px;
}

/* line 45, ../../sass/input.scss */
.step-label {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #e6730f;
}

/* line 56, ../../sass/input.scss */
.step-panel-right {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 25px;
  width: 445px;
  background-color: white;
  margin-top: 10px;
  float: right;
  height: 96px;
}

/* line 61, ../../sass/input.scss */
.step-panel-left {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 25px;
  width: 445px;
  background-color: white;
  margin-top: 10px;
  float: left;
  height: 96px;
}

/* line 66, ../../sass/input.scss */
.step-submit-panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 25px;
  width: 950px;
  background-color: white;
  margin-top: 10px;
  float: right;
}

/* line 70, ../../sass/input.scss */
.submit-button {
  /* fallback */
  background-color: #b65b0c;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6730f), to(#b65b0c));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #e6730f, #b65b0c);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #e6730f, #b65b0c);
  /* IE 10 */
  background: -ms-linear-gradient(top, #e6730f, #b65b0c);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #e6730f, #b65b0c);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  border-style: none;
  border-width: 0px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 25px;
  padding: 5px 22px 5px 22px;
  position: relative;
  float: right;
  margin-left: 10px;
}
/* line 3, ../../sass/modules/_arrows.scss */
.submit-button:after {
  border-left: 5px solid white;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  position: absolute;
  content: " ";
  bottom: 50%;
  margin-bottom: -5px;
  right: 10px;
}

/* line 75, ../../sass/input.scss */
.submit-button:hover {
  /* fallback */
  background-color: #9e4f0a;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ce670d), to(#9e4f0a));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ce670d, #9e4f0a);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ce670d, #9e4f0a);
  /* IE 10 */
  background: -ms-linear-gradient(top, #ce670d, #9e4f0a);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ce670d, #9e4f0a);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  border-style: none;
  border-width: 0px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 25px;
  padding: 5px 22px 5px 22px;
  position: relative;
  cursor: pointer;
}
/* line 3, ../../sass/modules/_arrows.scss */
.submit-button:hover:after {
  border-left: 5px solid white;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  position: absolute;
  content: " ";
  bottom: 50%;
  margin-bottom: -5px;
  right: 10px;
}

/* line 79, ../../sass/input.scss */
.submit-button .left {
  float: left;
}

/* line 82, ../../sass/input.scss */
.submit-button:hover {
  /* fallback */
  background-color: #9e4f0a;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ce670d), to(#9e4f0a));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ce670d, #9e4f0a);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ce670d, #9e4f0a);
  /* IE 10 */
  background: -ms-linear-gradient(top, #ce670d, #9e4f0a);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ce670d, #9e4f0a);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  border-style: none;
  border-width: 0px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 25px;
  padding: 5px 22px 5px 22px;
  position: relative;
  cursor: pointer;
}
/* line 3, ../../sass/modules/_arrows.scss */
.submit-button:hover:after {
  border-left: 5px solid white;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  position: absolute;
  content: " ";
  bottom: 50%;
  margin-bottom: -5px;
  right: 10px;
}

/* line 86, ../../sass/input.scss */
.step-field-label {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #553714;
}

/* line 90, ../../sass/input.scss */
#input-steps {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* line 93, ../../sass/input.scss */
div.ng-invalid, input.ng-invalid {
  border: 1px solid #CD0A0A;
  background-color: #FEF1EC;
  color: #CD0A0A;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 99, ../../sass/input.scss */
.select-error-panel {
  margin-top: 0.9em;
}

/* line 102, ../../sass/input.scss */
span.ui-icon {
  float: left;
}

/* line 105, ../../sass/input.scss */
.side-selection {
  float: right;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #553714;
  padding-left: 0.3em;
  margin-right: 0.3em;
}
