/* line 4, ../../sass/landing.scss */
body {
  font-family: "Open Sans", sans-serif;
  color: #553714;
  font-size: 14px;
  line-height: 18px;
}

/* line 7, ../../sass/landing.scss */
#login {
  width: 755px;
  margin-left: auto;
  margin-right: auto;
}

/* line 11, ../../sass/landing.scss */
.header {
  padding-top: 60px;
  padding-bottom: 20px;
  display: block;
  margin-bottom: 20px;
  clear: both;
}
/* line 17, ../../sass/landing.scss */
.header img {
  float: left;
}
/* line 20, ../../sass/landing.scss */
.header p {
  margin: 0px;
  padding-top: 5px;
  float: right;
}
/* line 24, ../../sass/landing.scss */
.header p strong {
  font-weight: bold;
}

/* line 29, ../../sass/landing.scss */
.login-form {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #f2efec;
  margin-top: 20px;
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 45px;
}

/* line 38, ../../sass/landing.scss */
.footer-content {
  font-family: "Open Sans", sans-serif;
  color: #553714;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/* line 44, ../../sass/landing.scss */
.form-item {
  margin-left: 178px;
  margin-right: 178px;
  margin-bottom: 20px;
}
/* line 48, ../../sass/landing.scss */
.form-item label {
  display: block;
  line-height: 20px;
  margin-bottom: 3px;
}

/* line 54, ../../sass/landing.scss */
.form-button-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 57, ../../sass/landing.scss */
.form-input {
  width: 348px;
  height: 24px;
  padding: 5px;
  margin: 0px;
  border: 1px solid #bcbcba;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
}

/* line 60, ../../sass/landing.scss */
.form-checkbox-label {
  font-family: "Open Sans", sans-serif;
  color: #e6730f;
  font-size: 14px;
  line-height: 18px;
}

/* line 63, ../../sass/landing.scss */
.form-button {
  /* fallback */
  background-color: #b65b0c;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6730f), to(#b65b0c));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #e6730f, #b65b0c);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #e6730f, #b65b0c);
  /* IE 10 */
  background: -ms-linear-gradient(top, #e6730f, #b65b0c);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #e6730f, #b65b0c);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  border-style: none;
  border-width: 0px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 25px;
  padding: 5px 22px 5px 22px;
  position: relative;
}
/* line 3, ../../sass/modules/_arrows.scss */
.form-button:after {
  border-left: 5px solid white;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  position: absolute;
  content: " ";
  bottom: 50%;
  margin-bottom: -5px;
  right: 10px;
}

/* line 66, ../../sass/landing.scss */
.form-button:hover {
  /* fallback */
  background-color: #9e4f0a;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ce670d), to(#9e4f0a));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ce670d, #9e4f0a);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ce670d, #9e4f0a);
  /* IE 10 */
  background: -ms-linear-gradient(top, #ce670d, #9e4f0a);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ce670d, #9e4f0a);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  border-style: none;
  border-width: 0px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 25px;
  padding: 5px 22px 5px 22px;
  position: relative;
  cursor: pointer;
}
/* line 3, ../../sass/modules/_arrows.scss */
.form-button:hover:after {
  border-left: 5px solid white;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  position: absolute;
  content: " ";
  bottom: 50%;
  margin-bottom: -5px;
  right: 10px;
}

/* line 70, ../../sass/landing.scss */
.footer {
  padding-top: 10px;
  position: relative;
}

/* line 74, ../../sass/landing.scss */
.field-validation-error {
  color: red;
}
