/* line 120, ../../sass/modules/_global.scss */
#main-menu, #account-box, #header-image {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 124, ../../sass/modules/_global.scss */
#main-menu li, #account-box li, #header-image li {
  float: left;
}

/* line 1, ../../sass/base/_layout.scss */
#header {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  line-height: 75px;
  overflow: hidden;
  height: 77px;
}

/* line 8, ../../sass/base/_layout.scss */
img {
  border-style: none;
  vertical-align: middle;
}

/* line 12, ../../sass/base/_layout.scss */
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit;
}

/* line 16, ../../sass/base/_layout.scss */
.company-logo {
  max-width: 107px;
  max-height: 75px;
}

/* line 20, ../../sass/base/_layout.scss */
#logo {
  float: left;
  margin-right: 20px;
}

/* line 24, ../../sass/base/_layout.scss */
#footer {
  clear: both;
  position: relative;
  background-color: white;
  bottom: -10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

/* line 6, ../../sass/layout.scss */
body, html {
  background-color: #f2efec;
  font-family: "Open Sans", sans-serif;
  color: #553714;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 13, ../../sass/layout.scss */
#main-menu {
  float: left;
  cursor: pointer;
  color: rgba(85, 55, 20, 0.5);
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 19, ../../sass/layout.scss */
#main-menu li {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 23, ../../sass/layout.scss */
#main-menu li:hover {
  color: #553714;
}

/* line 27, ../../sass/layout.scss */
#seperator {
  border-right: #553714 solid 1px;
}

/* line 30, ../../sass/layout.scss */
#main-menu .active {
  background-color: rgba(85, 55, 20, 0.1);
  color: #553714;
  border-bottom: 2px solid #e6730f;
  position: relative;
}
/* line 16, ../../sass/modules/_arrows.scss */
#main-menu .active:after {
  border-bottom: 5px solid #e6730f;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  position: absolute;
  content: "";
  right: 50%;
  margin-right: -5px;
  bottom: 0px;
}

/* line 36, ../../sass/layout.scss */
#topright {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 50%;
  height: 77px;
  margin-left: 500px;
  background-color: white;
}

/* line 45, ../../sass/layout.scss */
nav {
  width: 100%;
  border: 0px;
  border-bottom: 9px solid #553714;
}

/* line 51, ../../sass/layout.scss */
#account-box, #header-image {
  float: right;
  background: white;
  padding-left: 20px;
}
/* line 54, ../../sass/layout.scss */
#account-box a, #header-image a {
  font-size: 12px;
}
/* line 59, ../../sass/layout.scss */
#account-box li, #header-image li {
  padding-left: 6px;
  padding-right: 6px;
}
