<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    -->
  <system.diagnostics>
    <sharedListeners>
      <add
        name="ServiceModelMessageLoggingListener"
        initializeData="C:\MVC\InetPub\CarbonKnown\Santam\logging\web_messages.svclog"
        xdt:Transform="SetAttributes"
        xdt:Locator="Match(name)" />
      <add
        name="ServiceModelTraceListener"
        initializeData="C:\MVC\InetPub\CarbonKnown\Santam\logging\web_tracelog.svclog"
        xdt:Transform="SetAttributes"
        xdt:Locator="Match(name)" />
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="CarbonKnown"
      connectionString="Data Source=.\greensql;Initial Catalog=CarbonKnownV3Nampak;Integrated Security=True;MultipleActiveResultSets=true;"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="SetAttributes" debug="false" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache xdt:Transform="SetAttributes" httpExpires="Sun, 01 Dec 2016 00:00:00 GMT" />
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint 
        address="http://manage.carbonknown.com/ck3/Factors/Service/Factors.svc" 
        binding="wsHttpBinding" 
        bindingConfiguration="factorsBinding" 
        contract="CarbonKnown.Factors.WCF.IFactorsService" 
        name="Factors" 
        kind="" 
        endpointConfiguration="" 
        xdt:Transform="Replace"
        xdt:Locator="Match(name)">
        <identity>
          <userPrincipalName value="WIN-F9ES4UNSFER\CK3Admin" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>